[Unit]
Description=privacy-protection-messenger server daemon
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/privacy-protection-messenger --mode server
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
Alias=linux-file-server